@font-face {
    font-family: fonte_estilosa;
    src: url("../Source/Fonts/Wunderland.otf");
}

@font-face{
    font-family: fonte_sf;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

h1.estilosa{
    font-family: fonte_estilosa;
    font-size: 50px;    
}

h1.sf{
    font-family: fonte_sf;
    font-size: 50px;   
}

body{
    margin-left: 5%;
}

p{
    margin-left: 2%;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

p.xx-small{
    font-size: xx-small
}

p.medium{
    font-size: medium
}

p.xx-large{
    font-size: xx-large;
    text-indent: 10px
}

p.condensed{
    font-stretch: ultra-condensed;
}

p.normal{
    font-stretch: normal;
}

p.expanded{
    font-stretch: ultra-expanded
}

p.justify{
    color: gray;
    text-indent: 10px;
    text-align: justify
}

#colorblue{
    color: blue
}

.red{
    color: red;
}