table, th, td, tr{
    border: 1px solid black;

    padding: 5px 15px 5px 15px;
 }

 th{
     background-color: grey;
 }

 td{
     align-content: center;
 }
 table{
    margin-top: 2%;
    margin-left: 2%;
    border-collapse: separate;
    border-spacing: 0px;
    padding: 0px;
    border-radius: 5px
}

td:hover{
    background-color: springgreen;
}
td:focus{
    background-color: slateblue;
}
caption {
    caption-side: bottom;
    background-color: darkslategrey;
    border-radius: 2px;
    color: white;
    margin-top: 2px;
    padding: 2px 0 2px 0
}
